/*.accordion {
    padding-bottom: 30px;
}

.accordion-heading {
    position: relative;
    padding: 8px;
    width: 50%;
    cursor: pointer;
    font-family: $font-internas;
    font-size: 1em;

    // i {
    //     float: right;
    //     transition: all 0.3s ease-in-out;
    // }

    &.active,
    &:hover {
        color: $color-primary-general;
        font-weight: bold;
        // i {
        //     -ms-transform: rotate(180deg);
        //     -webkit-transform: rotate(180deg);
        //     transform: rotate(180deg);
        // }
    }
}

.accordion-content {
    display: none;
    padding-bottom: 12px;
    position: absolute;
    width: 50%;
    right: -5%;
    top: 10%;
    bottom: 0;
    margin: auto;
    &.active {
        display: block
    }
    .titleAcc-content {
        color: $color-primary;
        font-family: $titlesBig-internas;
    }
    
}*/

.accordion > li {
    margin: 0 auto;
}
.accordion > li > h4 {
    font: 1.4em 'poppinssemibold';
    color: rgba(0, 0, 0, 0.6);}

.accordion > li > h4.active {
    color: #223c86;
}
.accordion > li:not(:last-child) {border-bottom: 1px solid rgba(0, 0, 0, 0.2);}

.accordion li {
    position: relative;
    border: 1px solid #FFF;
}
.accordion li h4 {
    margin: auto 0;
    padding: 1em;
    
    display: flex;
    justify-content: space-between;
}
.accordion li h4 .glyph-wrapper {
    /*position: absolute;*/
    width: 25px;
    height: 25px;
    right: 2rem;
    top: 11px;
    background-color: #dddbdb;
    box-shadow: 0px 0px 0px 7px #dddbdb;
    border-radius: 50%;
    -webkit-transition: all 0.5s 0.1s ease;
    transition: all 0.5s 0.1s ease;
    cursor: pointer;
}
.accordion li h4 .glyph-wrapper.glyph-wrapper_color {
    background-color: #223c86;
    box-shadow: 0px 0px 0px 7px #223c86;
}
.accordion li h4 .glyph-wrapper span {
    position: relative;
    left: 50%;
    top: 50%;
    display: block;
    background-color: #FFF;
    -webkit-transition: inherit;
    transition: inherit;
    -webkit-transform-origin: center;
            transform-origin: center;
}
.accordion li h4 .glyph-wrapper span.line-h {
    width: inherit;
    height: 2px;
    -webkit-transform: translate(-50%, calc(-50% + 1px));
            transform: translate(-50%, calc(-50% + 1px));
}
.accordion li h4 .glyph-wrapper span.line-v {
    width: 2px;
    height: inherit;
    -webkit-transform: translate(-50%, calc(-50% - 1px));
            transform: translate(-50%, calc(-50% - 1px));
}

.accordion .accordion-panel {
    font: 1.2rem 'poppinssemibold';
    overflow: hidden;
    -webkit-transition: all 0.40s ease;
    transition: all 0.40s ease;
}
.accordion .accordion-panel .accordion-panel_padding {padding: .5em .75em;}
.accordion .active + .accordion-panel {
    max-height: 200px;
    margin-bottom: 1rem;
}
.accordion .inactive + .accordion-panel {
    max-height: 0;
    -webkit-transition: all 0.40s ease;
    transition: all 0.40s ease;
}