.sct-carousel-home {
    height: 100vh;
    padding: 0;

    .owl-carousel .owl-stage,
    .owl-carousel .owl-stage-outer,
    .owl-carousel .owl-item {
        height: 100%;
    }

    .owl-nav {
        position: absolute;
        bottom: 45%;
        margin: auto;
        left: 0;
        right: 0;
        width: 80%;
        color: white;
        font-size: 2.4em;

        .owl-next {
            position: absolute;
            right: 0;
        }
    }
    .video{
        height: 100%;
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        object-fit: cover;
    }
    .item {
        display: flex;
    }
}

.title-slider {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    .text-title-slider {
        color: $color-white;
        font-size: 2.2em;
        margin-top: 1em;
        letter-spacing: 3px;
    }
    .isotipo-home {
        width: 12em !important;
        height: auto !important;
        object-fit: contain;
    }
}

/* Dots */
.sct-carousel-home .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;

    display: block;
    margin: 4px;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: .25s all;
}
.sct-carousel-home .owl-dots .owl-dot.active span,
.sct-carousel-home .owl-dots .owl-dot:hover span {background-color: #e9e9e9;}

.sct-carousel-home .owl-dots {
    position: absolute;
    left: 50%;
    top: 100%;

    margin-top: -100px !important;
    transform: translate(-50%, -100%);
}