.info-form {

    .text-intr-form{
        font-size: .75em;
        opacity: .7;
        line-height: 20px;
        margin-bottom: 4.5em;
    }
    .phones-info-form {
        padding-top: 1em;
        /*float: left;*/
        //margin-right: 1.3em;
        padding-left: 1em;
        margin-bottom: 1em;

        .phoneInfoForm {
            position: relative;
            font-size: 1.2em;
            color: $color-primary;
            text-decoration: none;

            &:before{
                position: absolute;
                content: '';
                font-family: $font-internas;
                font-size: 12px;
                color:$color-int2;
                top: -21px;
                left: 35px;
            }
            &.quotesCitas:before {
                content: 'Central Citas';
            }
            &.quotesInformes:before {
                content: 'Central Infomes';
            }

            .icon-phone {
                margin-right: 6px;
                font-weight: bold;
                font-size: 1.1em;
            }
            &.quotesInformes {margin-left: 1em;}
        }
    }
    .icon-form {
        color: $color-primary;
    }
}
.rs-form,
.wrapper-suscription{
    display: none;
}

.ttl-sg{
    //font-size: ;
    padding: 0 .3em;
}
.sct-mapForm {
    >.container-fluid {
        >.row {
            // display: flex;
            // justify-content: flex-end;
        }
    }
    .wrapperMap {
        padding: 0;
        float: right;
        .contentMap {
            width: 88%;
            float: right;
            .embed-responsive-4by3 {
                padding-bottom: 92%;
            }
        }
    }
}
.frequent-questions {
    background-image: url('/assets/images/bg-questionsForm.jpg');
    padding: 3em 0;
    .titleQuestions {
        color: $color-primary;
        font-size: 2.1em;
    }
    .timesAccordion {
        .daysAcc {
            width: 10em;
            position: relative;
            margin-right: 5em;
            &:after {
                content: ":";
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .text-internas {
            font-size: 1.18em;
            margin-bottom: 0;
        }
        &:first-child {
            margin-top: 1.2em;
        }
    }
    .directionAccd {
        margin-top: 2em;
        .icon-ubication {
            float: left;
            color: $color-primary;
            margin-right: 8px;
            font-size: 1.4em;
        }
        .text-internas {
            font-weight: bold;
            font-size: .93em;
        }
    }
}

.pt3 {padding-top: 3em;}
.pt5 {padding-top: 5em;}

.pb2 {padding-bottom: 2em;}

/* Info Contact */
.title-contacto {
    color: #003989;
    font-family: "poppinsextrabold";
    font-size: 2.5em;
    text-transform: uppercase;
    position: relative;
    padding-left: 1.1em;
    line-height: 1;
    margin: 1em 0;
}

.title-contacto::before {
    font-family: "icomoon";
    content: "\e920";
    position: absolute;
    left: -35px;
    top: -25px;
    bottom: 0;
    font-size: 1.7em;
    margin: auto;
    color: #27a0de;
}

.subtitle-contacto {
    color: #003989;
    font-family: "poppinsextrabold";
    font-size: 1em;
    line-height: 1;
}

.textBold-contacto {
    color: #003989;
    font-family: "poppinssemibold";
    font-size: 0.95em;
    line-height: 1;
}

/* Map */
.mapa .wrap-iframe {
    padding-bottom: 30%;
}

.wrap-iframe {
    position: relative;
    height: 0;
    padding-top: 30px;
    overflow: hidden;
}

.mapa .wrap-iframe iframe {
    width: 100%;
    height: 100%;
}

.wrap-iframe iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.datos-contacto .p-internas {font-size: .75em;}