.detalle-medico .posrel {padding-right: 7em;}

.detalle-medico .container-calendar {
    padding: 0;
    max-width: 100%;
    margin: 2em auto 0;
}

.detalle-medico .text-internas {margin-top: 1em;}

.detalle-medico .espec {
    display: flex;
    align-items: center;
}