.formation {

    .descrip-formation{
        padding-left: 3em;
    }
    .subttl-int{
        font-size: 0.97em;
        line-height: 1.2;
        margin-bottom: 2em;
    }
    .text-p2{
        padding-bottom: 0;
    }
    .content-img-pstoral{
        width: 91%;
        margin: auto;
        padding-left: 1.5em; 
    }
    .q-es{
        >.row{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .mission-pastoral{
        margin: 5em 0;
        
        >.row{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .content-img-pstoral {
            padding-left: 0;
        }
        .descrip-formation {
            padding-left: 0em;
        }
    }

    .vission-pastoral{
        .img-vission-past{
            //width: 93%;
            float: right;
            height: 39em;
        }
        .description-flotant{
            width: 20em
        }
    }

    /***********************
    ESCUELA DE HOSPITALIDAD
    ***********************/
    .content-img-esc-hosp{
        width: 94%;
        margin: auto;
    }

    .obj-esc-hosp{
        .wrapper-card-repeat .front, 
        .wrapper-card-repeat .back{
            height: 13.6em;
        }
    }
}

.img-lineas-maestras {
    height: 43.7em;
}
.lineas-maestras {
    margin-top: 4.5em;
}