.sct-news {
    &.page-news {
        padding-top: 6.5em;

        .ttl-news {
                margin: 1em 0 3em;

            h2 {
                font-size: 2.3em;
            }
        }
    }
    &.detail-news {
        padding-top: 7em;

        .ttl-news {

            h2 {
                font-size: 2em;
            }
        }

        .icon-icono-regresar{
            font-size: 1.15em;
            color: $color-lightBlack;
            transition: .2s;
            &:hover {
                color: $color-primary-general;
            }
        }

        .description-news {
            margin-top: 3.5em;
            padding: 2.5em 0;
        }

        .info-news{
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgba(0,160,222,.2);
            padding-bottom: 1em;

            .icons-country-descr {
                width: 1.4em;
            }
            .ttl-descrip-news {
                font-family: $font-semiBold;
                color: $color-primary;
                font-size: 1em;
                padding-left: 1em;
                text-transform: uppercase;
            }
        }
        .text-info-news {
            padding: 2.5em 1em;
        }

        .img-detail-news {
            width: 92%;
        }
    }
}